.topHeader {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 12px 24px;
    z-index: 2;
    border-bottom: 1px solid rgba(255, 178, 44, 0.3);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.header-left {
    display: flex;
    align-items: center;
}
.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}