.topHeader {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}
.profilePicContainer {
  margin-left: auto;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.profilePicContainer:hover {
  transform: scale(1.05);
}

.profilePic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #FFB22C;
}