.reviews {
    padding: 10px;
    text-align: start;
}

.reviewList {
    display: flex;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.image {
    margin-right: 20px;
}

.image img {
    width: 150px;
    height: 100%;
    border-radius: 10px;
}
.firstLine{
    font-size:x-large;
}
.reviewContent {
    flex: 1;
}

.reviewContent h2 {
    font-family: "Montserrat", sans-serif;
}

.reviewContent h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.reviewContent p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "slnt" 0;
}